.card .right{
	float: right;
	width: 70%;
	text-align: center;
	padding: 35px;
}

.card .left{
	float: left;
	width: 30%;
	text-align: center;
	padding: 20px;
}

.topleft
{
	width: 80%;
}

.topright{
	width: 20%;
	padding: 15px;
	padding-top: 20px;
}

.loginform{
	width: 100%;
	max-width: 100vw;
	margin: 0px;
	height: 100%;
}

.booheader{
	text-align: center;
}

.left
{
	width: 100%;
	float: none;
	text-align: center;
	clear: both;
}

.fitimage{
	margin-left: -25px;
}

.right{
	width: 100%;
	float: none;
	clear: both;
}

input{
	width: 100%;
}

.card{
	width: 100%;
	display: block;
}

.bookrow{
	font-size: 14px;
}
.bookrow .right{
	float: none;
	text-align: left;
	clear: both;
	width: 100%;
}
.bookrow .left{
	width: 100%;
	text-align: left;
	float: none;
	clear: both;
}

.main .left{
	border-right: none;
}

.usercard{
	width: 90%;
}

.usercardleft{
	float: none;
	width: 100%;
	text-align: center;
	clear: both;
}

.usercardright{
	float: none;
	width: 100%;
	clear: both;
}